* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: #111;

}

h1{
    font-weight: 400;
}
.logo{
    width: 75px;

    height: 75px;
}

.weather_app {
    min-height: 100vh;
    background-image: url(./images/night/clear.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 0;
}

.weather_app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather {
    margin: 1em;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp {
    margin: 0;
    font-size: 7em;
}

.weather img {
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(225, 225, 225, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;

}

.panel form {
    margin-bottom: 3em;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: #181e27;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

.submit:hover {
    background: #fff !important;
    color: #000;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    color: #fff;
    font-size: 1.1em;

}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: #ccc;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;

}

.panel ul h4 {
    margin: 3em 0;

}

.city {
    display: block;
    cursor: pointer;
}

.city:hover {
    color: rgb(255, 255, 255);
    /* border: solid 1px #fff;
    border-radius: 5px; */
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
}


/* For Resposive Website */
@media screen and (max-width: 800px) {
    .logo{
        width: 35px;
    
        height: 35px;
    }

    .panel,
    .container {
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .weather-app {
        min-height: 400em;
    }
}